

/*-----contacto----*/
.contacto{
    text-align: center;
    h2{
        @extend .titulo-secundario;
    }
    p{    
        padding: 10px;
        margin: 10px;
    }
}
.form{
    text-align: justify;
    margin: auto;  
    width: 60%; 
    padding: 10px;
    border: 5px solid map-get($variable,color-principal);
    div{
        margin-top: 10px;
        button{
            background-color: map-get($variable, color-secundario);
            &:hover{
                background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 94%);
            }
        }
    }
}  