/*----nosotros----*/

.nos{
    @include contenedor(flex, space-between, center);
   
    div{
        h2{
            @extend .titulo-secundario;
  
            font-style: bold;
            
        }
        div{
            div{
                p{
                    text-align: center;
                    font-style: normal;
                    line-height: 200%;
                    font-size: 500;
                    padding: 30px;
                    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;       
                }
            }
            div{
                img{
                    width: 100%;
                    height: 80vh;
                    margin-top: 15px;    
                }
            }
        }
    }  
}
@-webkit-keyframes text-focus-in {
    0% {
    -webkit-filter: blur(12px);
          filter: blur(12px);
    opacity: 0;
    }
    100% {
    -webkit-filter: blur(0px);
          filter: blur(0px);
    opacity: 1;
    }
}
    
    @keyframes text-focus-in {
    0% {
    -webkit-filter: blur(12px);
          filter: blur(12px);
    opacity: 0;
    }
    100% {
    -webkit-filter: blur(0px);
          filter: blur(0px);
    opacity: 1;
    }
}