/*----productos----*/
.productos{
    text-align: center;
    font-style: normal; 
    h2{
        @extend .titulo-secundario;         
    }
    div{
        h3{
            font-size: 2rem;
            font-style: italic;
            text-align: justify; 
            margin: 15px;
        }
        div{
            div{
                background-color: map-get($variable, negro);
                border: map-get($variable, borde);
                overflow: hidden;
                transition: all 1s;
                &:hover{
                    transform: scale(1.2,1.1);
                }
                img{
                    height: 300px;
                }
                div{
                    h3{
                        font-size: 1.5rem;
                        font-style: normal;
                        text-align: center;     
                    }
                    a{
                        background-color: map-get($variable, fondo);
                        &:hover{
                            background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
                        }
                    }
                }
            }
        }    
    }  
}
.tarjeta{
    width: 18rem;
    margin: 20px;
}