/*----productos----*/
.productos{
    text-align: center;
    font-style: normal; 
    h2{
        @extend .titulo-secundario;         
    }
    div{
        h3{
            font-size: 700;
            font-style: italic;
            text-align: justify;    
        }
        div{
            div{
                background-color: map-get($variable, negro);
                border: map-get($variable, borde);
                overflow: hidden;
                transition: all 1s;
                &:hover{
                    transform: scale(1.2,1.1);
                }
                img{
                    height: 300px;
                }
            }
        }    
    }  
}
.tarjeta{
    width: 18rem;
}