$variable:(
fondo: rgb(9, 3, 100),
color-principal: antiquewhite,
color-secundario: rgb(0, 162, 255),
negro: black,
borde: 2px solid rgb(0, 162, 255),
);

@mixin contenedor($df, $jc, $ai){
    display: $df;
    justify-content: $jc;
    align-items: $ai;
}
.titulo-secundario{
    text-align: center;
    font-size: 3rem;
    font-style: italic;
    text-decoration: underline;
    margin: 10px;
}